
*.dll
*.pdb
*.cache
.DS_Store
.vscode/*

plant-palace/.mvn/
plant-palace/bin/
plant-palace/.idea/

plant-palace-frontend/.angular/
plant-palace-frontend/node_modules/

### Backend ignores: ###

HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.jar

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
