<div class="bg-primary shadow-top container-fluid">
    <div class="row align-items-center text-center">
        <a class="col-sm map"
            href="https://www.google.com/maps/place/Rugjer+Boshkovikj+13,+Skopje+1000/@42.0040599,21.4042454,17z/data=!3m1!4b1!4m6!3m5!1s0x1354144302ed223d:0x604e741ba1f772f9!8m2!3d42.0040559!4d21.4068203!16s%2Fg%2F11f5zb0yn7?entry=ttu"
            target="_blank" style="color: white; text-decoration: none;">
            <img src="../../../../assets/images/map-location.png" class="img-fluid p-5" alt="Location Image">
        </a>
        <div class="col-sm p-sm-4">
            <h5 class="py-sm-3">
                <b>ADDRESS:</b>
                <div>ul. Ruger Boskovik 16 1000, Rugjer Boshkovikj 16, Skopje 1000</div>
            </h5>

            <h5 class="py-3">
                <b>CONTACT:</b>
                <div>contact@finki.ukim.mk</div>
            </h5>
        </div>
        <div class="col-sm py-3">
            <a href="#" class="icon-style">
                <span class="fab fa-facebook fa-4x mx-2"></span>
            </a>
            <a href="#" class="icon-style">
                <span class="fab fa-instagram fa-4x mx-2"></span>
            </a>
            <a href="#" class="icon-style">
                <span class="fas fa-envelope fa-4x mx-2"></span>
            </a>
        </div>
    </div>
</div>