<h1>Login</h1>
<form [formGroup]="formGroup" (ngSubmit)="submit()">
    <div class="container">
        <div>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter email" name="email" required formControlName="email">
        </div>
        <div>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required formControlName="password">
        </div>
        <button type="submit" [disabled]="formGroup.invalid">Login</button>
    </div>
</form>