<!-- <div>
    <div class="card m-5 w-25">
        <img [src]="product.imageUrl" class="picsum-img-wrapper" alt="{{ product.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
        </div>
        <div>Price: {{product.price}}</div>
        <div>Quantity: {{product.quantity}}</div>
    </div>
</div> -->



<div class="container">
    <div class="row m-3">
        <div class="col-md-4">
            <div class="card m-5">
                <img [src]="product.imageUrl" class="picsum-img-wrapper" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="m-5 py-5">
                <div class="m-3">Description: <br/> {{ product.description }}</div>
                <div  class="border-bottom border-dark m-3"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="m-3">Price: <br/> {{ product.price }}</div>
                    </div>
                    <div class="col-md-6">
                        <div class="m-3">Quantity: <br/> <input class="btn btn-primary" type="submit" value="-">
                            {{ product.quantity }} <input class="btn btn-primary" type="submit" value="+">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
