<div class="main-background">
    <div class="text-container ms-5 py-5">
        <div class="overlay-text">
            <h1>
                Welcome to Plant Palace!
            </h1>
            <div>
                <div class="my-5 about-us-text">
                    We're passionate about bringing the beauty of nature into your home and garden. Our online store
                    offers
                    a
                    wide selection of high-quality indoor and outdoor plants sourced directly from trusted growers. With
                    a
                    focus
                    on sustainability and responsible sourcing, we're committed to promoting greener living while
                    providing
                    you
                    with the tools and knowledge to nurture your green spaces.
                </div>
                <div class="about-us-text">
                    At Plant Palace, we're more than just an online store; we're a community of plant enthusiasts
                    dedicated
                    to
                    sharing our love for nature. From personalized care advice to engaging content on our blog and
                    social
                    media
                    channels, we're here to support you every step of the way on your botanical journey. Join us in
                    bringing
                    the
                    tranquility and joy of plants into your life – happy planting!</div>
            </div>
        </div>
    </div>
</div>