.font-size {
    font-size: larger;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: white !important;
    background-color: green !important;
}

.navbar-toggler {
    border: none;
}
