<div>
    <img src="../../../../assets/images/logo.png" class="img-fluid" width="300"/>
    <nav class="navbar navbar-expand-lg navbar-light p-0 bg-primary shadow font-size">
        <div class="container-fluid">
            <div class="ms-auto">
                <button class="navbar-toggler bg-primary" type="button"
                    aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    <li ngbDropdown>
                        <a ngbDropdownToggle class="nav-link" href="#" id="plantsDropdown" role="button">
                            Plants
                        </a>
                        <app-navigation-dropdown [items]="dropdownItems"></app-navigation-dropdown>
                    </li>
                    <li ngbDropdown class="nav-item">
                        <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="equipmentDropdown" role="button">
                            Equipment
                        </a>
                        <app-navigation-dropdown [items]="dropdownItems"></app-navigation-dropdown>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex align-content-center">
                <span class="material-icons me-2">account_circle</span>
                <span class="material-icons mx-2">shopping_cart</span>
            </div>
        </div>
    </nav>
</div>