<div class="m-5">
    <div class="d-flex justify-content-center pt-4">
        <h1>Profile</h1>
    </div>
    <div class="m-3 mt-5 bg-white p-3">
        <form [formGroup]="formGroup" (ngSubmit)="submit()">
            <div class="container border p-5">
                <div class="row justify-content-between">
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="m-3 px-5 col-sm-12">
                                <label class="form-label" for="name"><b>Name</b></label>
                                <input type="text" class="form-control bg-white border border-dark"
                                    placeholder="Enter name" formControlName="name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="m-3 px-5 col-sm-12">
                                <label class="form-label" for="email"><b>Email Address</b></label>
                                <input type="text" class="form-control bg-white border border-dark"
                                    placeholder="Enter email address" formControlName="email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="m-3 px-5 col-sm-12">
                                <label class="form-label" for="address"><b>Address</b></label>
                                <input type="text" class="form-control bg-white border border-dark"
                                    placeholder="Enter address" formControlName="address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="m-3 px-5 col-sm-12">
                                <label class="form-label" for="zipcode"><b>Zipcode</b></label>
                                <input type="text" class="form-control bg-white border border-dark"
                                    placeholder="Enter zipcode" formControlName="zipcode">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="m-3 px-5 col-sm-12">
                                <label class="form-label" for="surname"><b>Surname</b></label>
                                <input type="text" class="form-control bg-white border border-dark"
                                    placeholder="Enter surname" formControlName="surname">
                            </div>
                        </div>
                        <div class="row">
                            <div class="m-3 px-5 col-sm-12">
                                <label class="form-label" for="city"><b>City</b></label>
                                <input type="text" class="form-control bg-white border border-dark"
                                    placeholder="Enter city" formControlName="city">
                            </div>
                        </div>
                        <div class="row">
                            <div class="m-3 px-5 col-sm-12">
                                <label class="form-label" for="telephone"><b>Telephone</b></label>
                                <input type="text" class="form-control bg-white border border-dark"
                                    placeholder="Enter telephone" formControlName="telephone">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>